<%- include('partials/header'); %>
<h1 style="text-align: center">Add</h1>
<form action="/add" method="post" class="add-form">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Toy</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-sm">Add</button>
</form>

</form>
